
<ul class="sidebar-nav">
    <li class="sidebar-brand"><a href="@Url.Action("Index", "Home")">Examples</a></li>
    <li class="sidebar-brand">@Html.ActionLink("Basic", "Basic", "Home")</li>
    <li class="sidebar-brand">@Html.ActionLink("Paged", "Paged", "Home")</li>
    <li class="sidebar-brand">@Html.ActionLink("Menus", "Menus", "Home")</li>
    <li class="sidebar-brand">@Html.ActionLink("Links", "Links", "Home")</li>
    <li class="sidebar-brand">@Html.ActionLink("Table Styles", "TableStyles", "Home")</li>
    <li class="sidebar-brand">@Html.ActionLink("Column Styles", "ColumnStyles", "Home")</li>
    <li class="sidebar-brand">@Html.ActionLink("Checkboxes", "Checkboxes", "Home")</li>
    <li class="sidebar-brand">@Html.ActionLink("Sorting", "Sorting", "Home")</li>
    <li class="sidebar-brand">@Html.ActionLink("Toolbar", "Toolbar", "Home")</li>
    <li class="sidebar-brand">@Html.ActionLink("Search", "Search", "Home")</li>
    <li class="sidebar-brand">@Html.ActionLink(@"Extensions", "Extensions", "Home") </li>
</ul>
